#cnlkLogin{
    color: rgb(134, 84, 250);
    margin-left: .8rem;
    font-weight: 600;
}
#cnlkLogin:hover{
    text-decoration:underline;
    text-decoration-thickness: 1.8px;
}
.navBar{
    min-height: var(--navBar-height);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid rgba(240, 233, 220, 0.827); */
    box-shadow: 0px 4px 5px -3px rgba(152, 148, 139, 0.827);
    margin-bottom: .2rem;
    padding: .3rem 0;
}
#navBar2{
    min-height: 0;
    padding: 0;

}
#navTogglerDiv{
    position: absolute;
    top: 22px;
    left: 3%;
    display: none;
}
#nav2Toggler{
    color: blueviolet;
    font-size: 2rem;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: .2rem;
    width: 3rem;
    cursor: pointer;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.navBar .navContainer{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: .5rem 0;
}
.navBar .navContL{
    margin: 0 1.5rem;
    width: fit-content;
    display: flex;
    align-items: center;
}

.navBar .navContL .siteName {
    margin: 0 .5rem;
    font-size: 1.3rem;
    font-weight: 700;
}
.navBar .navContR{
    margin: 0 1rem;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.navBar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}
.navContR .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar .nav-item .nav-link{
    cursor: pointer;
    text-decoration: none;
    color: rgb(134, 84, 250);
    font-size: 1.2rem;
    margin: .2rem .7rem;
}
.navBar .nav-item .nav-link:hover{
    transition: .2s ease-in;
    color: var(--light-sky-blue);
}
#navBar2 .nav-item .nav-link{
    margin: .2rem 1rem;
}
.navContR .username{
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-family: sans-serif;
    flex-wrap: wrap;
    text-align: center;
}
.navContR .username span{
    color: rgb(169, 24, 192);
    font-size: 1.25rem;
    
}

.src-form-div{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto 5px;
}
.src-form{
    border: 3px solid rgb(230, 148, 148);
    border-radius: 5px;
    margin: 0 2rem;
} 
.src-form-div #srcBox{
    width: 30rem;
    padding: 0.45rem 0.8rem;
    border: 1px solid rgb(138, 36, 206);
    border-radius: 5px;
    outline: none;
    font-size: 1.1rem;
    background:none;
    color: rgb(138, 36, 206);
    caret-color: rgb(246, 9, 135)
} 

#chngTheme{
    cursor: pointer;
    user-select: none;
    font-size: 2.5rem;
    -webkit-user-select:none;
}

@media screen and (max-width: 1220px) {
    .navBar .navContL .siteLogo{
        width: 10vw;
    }
    .navBar .navContL .siteLogo img{
        width: 100%;
        object-fit: fill;
    }
}
@media screen and (max-width: 900px) {
    #navBar .navContainer{
        flex-direction: column;
        align-items: center;
    }
    #navBar .navContR{
        justify-content: center;
    }
    #navBar .uN_Ath{
        background-color: white;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        transition: .5s;
        box-shadow: 3px 0px 10px 0px #d3cece;
        top: 6rem;
        left: 0;
        margin: 0;
    }
    #navBar .uN_Ath ul{
        width: 0;
        height: 0;
        transition: .5s;
        flex-direction: column;
        justify-content: center;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1rem;
    }
    .line{
        display: none;
    }
    #navBar .nav-item{
        margin: 0.5rem 0;
    }
    #navTogglerDiv{
        display:block;
    }
    .src-form-div #srcBox{
        width: 20rem;
    }
    #navBar2  {
        width: 0;
        height: 0;
        background-color: white;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        transition: .5s;
        box-shadow: 3px 0px 10px 0px #d3cece;
        z-index: 99;
    }
    #navBar2 .navContainer{
        justify-content: start;
        margin: .5rem 1rem;
    }

    #navBar2 ul {
        flex-direction: column;
        align-items: start;
        margin: 1rem 0;

    }

    #navBar2 ul li {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .navBar .navContL .siteLogo{
        width: 35vw;
    }
    
    

}

@media screen and (max-width: 350px) {
    #navBar .navContL{
        flex-direction: column;
    }
    #navBar .uN_Ath{
        top: 7.5rem;
    }
}